<%= link_to 'Voltar', root_path %>
<%= link_to 'Registrar categoria de produto', new_product_category_path %>

<% if @product_categories.empty? %>
  <p>Nenhuma categoria de produto cadastrada</p>
<% end %>

<% @product_categories.each do |category| %>
  <p><%= link_to category.name, category %></p>
<% end %>